LITELLM_MASTER_KEY="sk-xxxxxxxx"
OPENAI_API_KEY="sk-xxxxxxxx"
OPENAI_ADMIN_KEY="sk-xxxxxxxx"
OPENAI_BASE_URL="http://0.0.0.0:4000"
CHAT_MODEL_NAME="groq/openai/gpt-oss-20b"
EMBEDDING_MODEL_NAME="openrouter/openai/text-embedding-3-small"
USE_LITELLM=1